{
  "APP_NAME": "BEAUTIFY.NG",
  "APP_URL": "http://www.beautify.ng",
  "PAYSTACK": {

  },
  "hashingSecret": "SJDFIR94I43SDKSFL",
  "DATABASE": {
    "USERNAME": "",
    "PASSWORD": "",
    "HOST": "localhost",
    "PORT": "27017",
    "NAME": "db_name",
    "OPTIONS": {}
  }
}